:root {
    --c1: #CDF0EA;
    --c2: #F9F9F9;
    --c3: #F6C6EA;
    --c4: #FAF4B7;
    --c5: #FFC3C3;
    --c6: #DAEAF1;
}

.container-fluid {
    height: 100vh;
    /*background: linear-gradient(to right,lightpink,purple);*/
    text-align: center;
}

.webKitElement, body {
    /*width: 200px;*/
    /*height: 200px;*/
    background: radial-gradient(ellipse at top, #CDF0EA, #F9F9F9, #F6C6EA, transparent), radial-gradient(ellipse at top, #FAF4B7, #FFC3C3, #DAEAF1, transparent);
    background-size: 400% 400%;
    -webkit-animation: swishswish 12s ease-in-out infinite;
}

@-webkit-keyframes swishswish {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 100%
    }
    100% {
        background-position: 0 50%
    }
}